h1
  span Calculer son GIR

p
  | La grille
  b  AGGIR
  |  (Autonomie Gérontologie, Groupes Iso Ressources) permet de mesurer
  b  le degré d'autonomie physique et psychique des personnes âgées.
  |  On observe les activités que la personne âgée peut effectuer et on note si la personne effectue totalement, partiellement ou pas du tout les differents actes considérés.

p
  | La grille AGGIR prend en compte
  b  17 variables
  |  réparties en 2 catégories:
  br
  | - la perte d'autonomie physique et psychique
  br
  | - la perte d'autonomie domestique et sociale

p
  | La première catégorie permet de déterminer le GIR qui est nécessaire pour délivrer l'APA (Allocation personnalisée à l'Autonomie).
  br
  | La grille ci-dessous vous permettra d'estimer votre GIR ou celui d'un proche.

p
  | Quatres adverbes qualifient chaque variable:
  b  spontanément, totalement, habituellement et correctement.
  br
  b Attention:
  |  Pour chaque adverbe, l'évaluateur répond par oui ou par non à une question de référence.

p
  | - Une réponse positive aux 4 adverbes correspond au code A (fait seul)
  br
  | - Une réponse négative pour 1 à 3 adverbes correspond au code B (fait partiellement)
  br
  | - Une réponse négative aux 4 adverbes correspond au code C (ne fait pas)

ul
  li
    figure 1
    .description
      h5 Cohérence
      blockquote Converser et se comporter de façon sensée par rapport aux normes admises
    aside
      .each
        span A : Oui
        .check.checked
          i.fa.fa-check
      .each
        span B : Partiel
        .check
          i.fa.fa-check
      .each
        span C : Non
        .check
          i.fa.fa-check

  li
    figure 2
    .description
      h5 Orientation
      blockquote La personne se repère dans le temps (jour/nuit et matin/soir), dans les lieux, etc.
    aside
      .each
        span A : Oui
        .check.checked
          i.fa.fa-check
      .each
        span B : Partiel
        .check
          i.fa.fa-check
      .each
        span C : Non
        .check
          i.fa.fa-check

  li
    figure 3
    .description
      h5 Toilette
      blockquote La personne fait sa toilette seule, entièrement et de façon correct, du haut et du bas du corps. Il faut coter la toilette du haut (visage, tronc, coiffage) et du bas (régions intimes, jambes, pieds) puis se référer à : AA = A  CC = C  Autres = B
    aside
      .each
        span A : Oui
        .check.checked
          i.fa.fa-check
      .each
        span B : Partiel
        .check
          i.fa.fa-check
      .each
        span C : Non
        .check
          i.fa.fa-check

  li
    figure 4
    .description
      h5 Habillage
      blockquote La personne s'habille seule, totalement et correctement. Il faut coter l'habillage du haut (bras, tête), du milieu (boutons, ceinture) et du bas (pantalon, chaussures) puis se référer à : AAA = A  CCC = C  Autres = B
    aside
      .each
        span A : Oui
        .check.checked
          i.fa.fa-check
      .each
        span B : Partiel
        .check
          i.fa.fa-check
      .each
        span C : Non
        .check
          i.fa.fa-check

  li
    figure 5
    .description
      h5 Alimentation
      blockquote La personne s'alimente seule et correctement. Il faut coter "se servir" (couper la viande, ouvrir un pot, se verser à boire) et manger, puis se référer à : AA = A  CC = C  BC = C CB = C  Autres = B
    aside
      .each
        span A : Oui
        .check.checked
          i.fa.fa-check
      .each
        span B : Partiel
        .check
          i.fa.fa-check
      .each
        span C : Non
        .check
          i.fa.fa-check

  li
    figure 6
    .description
      h5 Élimination
      blockquote La personne s'assure seule et correctement de l'hygiène de l'élimination urinaire et anale.Il faut coter l'élimination urinaire et anale puis se référer à : AA = A  CC = C  AC ou CA = CBC ou CB = C  Autres = B
    aside
      .each
        span A : Oui
        .check.checked
          i.fa.fa-check
      .each
        span B : Partiel
        .check
          i.fa.fa-check
      .each
        span C : Non
        .check
          i.fa.fa-check

  li
    figure 7
    .description
      h5 Transferts
      blockquote La personne se lève, s'assoit et se couche seule
    aside
      .each
        span A : Oui
        .check.checked
          i.fa.fa-check
      .each
        span B : Partiel
        .check
          i.fa.fa-check
      .each
        span C : Non
        .check
          i.fa.fa-check

  li
    figure 8
    .description
      h5 Déplacements
      blockquote La personne se déplace seule (avec une canne, déambulateur ou fauteuil roulant)
    aside
      .each
        span A : Oui
        .check.checked
          i.fa.fa-check
      .each
        span B : Partiel
        .check
          i.fa.fa-check
      .each
        span C : Non
        .check
          i.fa.fa-check
