h1
  span Actualités

section
  article
    a(href='')
      span 7 Septembre
      h5 Accueil familial : les 10 bonnes questions à se poser
      p L'équipe de CetteFamille valorise l'accueil familial, une solution d’hébergement dans un cadre familial et chaleureux où l’affection...
      .read-more
        i.fa.fa-caret-right
        .s Lire plus

  article
    a(href='')
      span 7 Septembre
      h5 Accueil familial : les 10 bonnes questions à se poser
      p L'équipe de CetteFamille valorise l'accueil familial, une solution d’hébergement dans un cadre familial et chaleureux où l’affection...
      .read-more
        i.fa.fa-caret-right
        .s Lire plus
