h1
  span Témoignages

section
  article
    .col
      h5
        | Bobby B
        span Floing (08)
      p " J'ai souhaité devenir famille d'accueil pour donner un sens à ma vie. Parce que je trouve que donner c'est gagner. C'est très enrichissant de pouvoir partager la chaleur d'un foyer, de se retrouver avec des personnes qui ont des besoins et de pouvoir aider. Prendre les mains d'une personne qui ne peut plus les bouger, lui donner un sourire... ça n'a pas de prix, c'est extraordinaire. "
    .col.avatar

  article
    .col
      h5
        | Jacqueline K
        span Champcenest (77)
      p " C’est chaleureux ici, c’est une famille unie. Je suis moi, pas Madame Tout-Le-Monde. J’ai un fils, je vais le voir trois jours par mois. Je suis contente. Ensuite, j'aime regagner mes pénates parce que c'est ici ma maison. C’est bien, j'ai aussi mes petites habitudes et puis on a aussi Zouzou ! C’est le chat de la maison. "
    .col.avatar

