.row
  h1 Nouvel article
.row
  .markdown-body
    input#title(type='text', placeholder='Titre de votre article')
    textarea#article
    .btns
      button#publish
        i.material-icons playlist_add_check
        span Publier l'article
