.col
  a(href='/chercher', soft) Chercher une famille
  a(href='/devenir', soft) Devenir une famille
  a(href='/temoignages', soft) Les témoignages
  .separator
  a(href='/gir', soft) Calculer son GIR
  .bot
    a(href='http://fluzandpowo.com/', target='_blank')
      | Made with
      img(src='/img/heart.png')
      | by flüz&powo
.col
  a(href='/actualites', soft)
    span Blog
  a(href='/actualites/{{blog._id}}', soft)
    p Dernier article : {{blog.title}}
  .separator
  a(href='/cgu', soft) Mentions légales et conditions générales
  a(href='/faq', soft) FAQ
  .bot
    span Copyright CANNETROTTER SAS 2017
