a.left(href='/', soft)
  img.white(src='/img/logo.png')
  img.color(src='/img/logo-c.png')
ul.right
  li
    a.anchor(href='/', data-anchor='a-concept', soft) Concept
  li
    a.anchor(href='/', soft, data-anchor='a-steps') Fonctionnement
  li
    a.anchor(href='/', soft, data-anchor='a-services') Services
  li
    a.anchor(href='/', soft, data-anchor='a-offers') Offres
  li
    a.anchor(href='/', soft, data-anchor='a-contact') Contact
.cleared
