a.left(href='/', soft)
  img(src='/img/logo.png')
ul.right
  li
    a(href='#') Concept
  li
    a(href='#') Fonctionnement
  li
    a(href='#') Services
  li
    a(href='#') Partenaires
  li
    a(href='#') Contact
.cleared
