h1 Condition générales d'utilisation
.separator

h3 Article 1. Informations légales
p En vertu de l'article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
p Le site www.cettefamille.com est édité par CANNETROTTER SAS au capital social de 26,000€, dont le siège siège social est situé 4 place des Trois Croix 61200 Argentan, et immatriculée au RCS d’Alençon sous le numéro 814 755 284. (ci-après « l’Editeur »).
p La directrice de publication du site est Madame Agathe Pommery (contact@cettefamille.com).
p Le site www.cettefamille.com est hébergé par WYLOG, dont le siège est situé au 23 rue Jean-Jacques Rousseau, 75001, Paris (tel :01 43 12 90 34)

h3 Article 2. Présentation du site
p Le site www.cettefamille.com a pour objet de faciliter le dispositif d'accueil familial, qui permet à des personnes âgées en perte d'autonomie d'aller vivre dans des familles d'accueil qui en prendront soin et les intègreront dans leur quotidien et leur vie de famille, contre une rémunération. Cette rémunération est versée de la personne âgée (ou de son aidant, ou de son mandataire judiciaire), à la famille d'accueil, comprenant le salaire de l'accueillant familial, le loyer, les frais de sujetion et l'URSSAF. CetteFamille propose les services payants suivants :
p · La mise en relation entre bénéficiaires et accueillants familiaux
p · Un centre d’appels, disponible du lundi au vendredi de 9h à 19h pour répondre à toutes vos questions
p · Une assistance au processus de gestion administrative de l’accueil (déclarations sociales et fiscales + fiches de paie + flux financiers)
p · Une application innovante pour conserver un lien régulier entre la personne en famille et ses enfants et petits-enfants.

h3 Article 3. Contact
p
  | Pour toute question ou demande d'information concernant le site, ou tout signalement de contenu ou d'activités illicites, l'utilisateur peut contacter l'Editeur à l'adresse e-mail suivante:
  a(href='cgu/#') contact@cettefamille.com
  |  ou adresser un courrier recommandé avec accusé de réception à : CetteFamille/ Cannetrotter - 4 place des 3 croix - 61200 Argentan - France

h3 Article 4. Acceptations des conditions d'utilisation
p L'accès et l'utilisation du site sont soumis à l'acceptation et au respect des présentes Conditions Générales d'Utilisation. L'Editeur se réserve le droit de modifier le site et des services ainsi que les présentes CGU, notamment pour s'adapter aux évolutions du site par la mise à disposition de nouvelles fonctionnalités ou la suppression ou la modification de fonctionnalités existantes. En cas de changement des CGU, le consommateur sera notifié dans un délai de 2 jours avant l'éxécution des modifications.
p Il est donc conseillé à l'utilisateur de se référer avant toute navigation à la dernière version des CGU, accessible à tout moment sur le site.

h3 Article 5. Accès et navigation
p L'Editeur met en œuvre les solutions techniques à sa disposition pour permettre l'accès au site 24 heures sur 24, 7 jours sur 7. Il pourra néanmoins à tout moment suspendre, limiter ou interrompre l'accès au site ou à certaines pages de celui-ci afin de procéder à des mises à jour, des modifications de son contenu ou toute autre action jugée nécessaire au bon fonctionnement du site.
p Les présentes CGU s'appliquent, en tant que de besoin, à toute déclinaison ou extension du site sur les réseaux sociaux et/ou communautaires existants ou à venir.

h3 Article 6. Gestion du site
p Pour la bonne gestion du site, l'Editeur pourra à tout moment :
p - suspendre, interrompre ou limiter l'accès à tout ou partie du site, réserver l'accès au site, ou à certaines parties du site, à une catégorie déterminée d'internaute ;
p - supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales, ou avec les règles de la Nétiquette ;
p - suspendre le site afin de procéder à des mises à jour.

h3 Article 7. Services réservés aux utilisateurs inscrits
p 7.1 INSCRIPTION
p L'accès à certains services est conditionné par l'inscription de l'utilisateur.
p L'inscription et l'accès aux services du site sont réservés exclusivement aux personnes physiques capables juridiquement, ayant rempli, validé et signé le formulaire d'inscription disponible en ligne sur le site www.cettefamille.com, ainsi que les présentes Conditions Générales d'Utilisation.
p Lors de son inscription, l'utilisateur s'engage à fournir des informations exactes, sincères et à jour sur sa personne et son état civil. L'utilisateur devra en outre procéder à une vérification régulière des données le concernant afin d'en conserver l'exactitude.
p L'utilisateur doit ainsi fournir impérativement une adresse e-mail valide, sur laquelle le site lui adressera une confirmation de son inscription à ses services. Une adresse de messagerie électronique ne peut être utilisée plusieurs fois pour s'inscrire aux services.
p Toute communication réalisée par www.cettefamille.com et ses partenaires est en conséquence réputée avoir été réceptionnée et lue par l'utilisateur. Ce dernier s'engage donc à consulter régulièrement les messages reçus sur cette adresse e-mail et à répondre dans un délai raisonnable si cela est nécessaire.
p Une seule inscription aux services du site est admise par personne physique.
p L'utilisateur se voit attribuer un identifiant lui permettant d'accéder à un espace dont l'accès lui est réservé (ci-après "Espace personnel"), en complément de la saisie de son mot de passe.
p L'identifiant et le mot de passe sont modifiables en ligne par l'utilisateur dans son Espace personnel. Le mot de passe est personnel et confidentiel, l'utilisateur s'engage ainsi à ne pas le communiquer à des tiers.
p www.cettefamille.com se réserve en tout état de cause la possibilité de refuser une demande d'inscription aux services en cas de non-respect par l'Utilisateur des dispositions des présentes Conditions Générales d'Utilisation.
p 7.2 DÉSINSCRIPTION
p L'utilisateur régulièrement inscrit pourra à tout moment demander sa désinscription en envoyant un e-mail à l’adresse suivant : contact@cettefamille.com, ou un courrier à : CetteFamille/ Cannetrotter - 4 place des 3 croix - 61200 Argentan - France
p Toute désinscription du site sera effective dans un délai d’un mois après l’envoi de l’e-mail ou du courrier.

h3 Article 8. Responsabilités
p L'Editeur n'est responsable que du contenu qu'il a lui-même édité.
p L'Editeur n'est pas responsable :
p - en cas de problématiques ou défaillances techniques, informatiques ou de compatibilité du site avec un matériel ou logiciel quel qu'il soit ;
p - des dommages directs ou indirects, matériels ou immatériels, imprévisibles résultant de l'utilisation ou des difficultés d'utilisation du site ou de ses services ;
p - des caractéristiques intrinsèques de l'Internet, notamment celles relatives au manque de fiabilité et au défaut de sécurisation des informations y circulant ;
p - des contenus ou activités illicites utilisant son site et ce, sans qu'il en ait pris dûment connaissance au sens de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique et la Loi n°2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard de traitement de données à caractère personnel.
p L'utilisateur est responsable :
p - de la protection de son matériel et de ses données ;
p - de l'utilisation qu'il fait du site ou de ses services ;
p - s'il ne respecte les présentes CGU.

h3 Article 9. Liens hypertextes
p Le site peut contenir des liens hypertextes pointant vers d'autres sites internet sur lesquels www.cettefamille.com n'exerce pas de contrôle. Malgré les vérifications préalables et régulières réalisés par l'Editeur, celui-ci décline tout responsabilité quant aux contenus qu'il est possible de trouver sur ces sites.
p L'Editeur autorise la mise en place de liens hypertextes vers toute page ou document de son site sous réserve que la mise en place de ces liens ne soit pas réalisée à des fins commerciales ou publicitaires.
p En outre, l'information préalable de l'Editeur du site est nécessaire avant toute mise en place de lien hypertexte.
p Sont exclus de cette autorisation les sites diffusant des informations à caractère illicite, violent, polémique, pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.
p Enfin, www.cettefamille.com se réserve le droit de faire supprimer à tout moment un lien hypertexte pointant vers son site, si le site l'estime non conforme à sa politique éditoriale.

h3 Article 10. Collecte de données
p Le site est déclaré à la Commission Nationale Informatique et Libertés (CNIL) sous le numéro 1955858 v 0.
p En outre, le site est conforme aux dispositions de la Loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. En vertu des dispositions de la loi précitée, l'utilisateur bénéficie, notamment, d'un droit d'opposition (articles 32 et 38), d'accès (articles 38 et 39) et de rectification (article 40) des données le concernant.
p Pour faire usage de l'un des droits précités, l'utilisateur doit s'adresser à l'Editeur en le contactant par e-mail à l'adresse suivante : contact@cettefamille.com , ou par courrier recommandé adressé au siège social de l'Editeur (adresse mentionnée précédemment) en précisant ses nom, prénom(s), adresse et adresse(s) e-mail.

h3 Article 11. Cookies
p Le site a éventuellement recours aux techniques de "cookies" lui permettant de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'utilisateur, lequel peut s'opposer à l'enregistrement de ces "cookies" en configurant son logiciel de navigation.

h3 Article 12. Propriété intellectuelle
p La structuration du site mais aussi les textes, graphiques, images, photographies, sons, vidéos et applications informatiques qui le composent sont la propriété de l'Editeur et sont protégés comme tels par les lois en vigueur au titre de la propriété intellectuelle.
p Toute représentation, reproduction, adaptation ou exploitation partielle ou totale des contenus, marques déposées et services proposés par le site, par quelque procédé que ce soit, sans l'autorisation préalable, expresse et écrite de l'Editeur, est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L. 335-2 et suivants du Code de la propriété intellectuelle. Et ce, à l'exception des éléments expressément désignés comme libres de droits sur le site.
p L'accès au site ne vaut pas reconnaissance d'un droit et, de manière générale, ne confère aucun droit de propriété intellectuelle relatif à un élément du site, lesquels restent la propriété exclusive de l'Editeur.
p Il est interdit à l'utilisateur d'introduire des données sur le site qui modifieraient ou qui seraient susceptibles d'en modifier le contenu ou l'apparence.

h3 Article 13. Loi applicable et juridiction compétente
p Les présentes Conditions Générales d'Utilisation sont régies par la loi française. En cas de différend et à défaut d'accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de compétence en vigueur.




