.blog {
  text-align: left;

  #list ul li .col:first-child {
    width: 25%;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  #list .legend .type:first-child {
    width: 25%;
  }

  .infos {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 14px;
    font-size: 16px;
    color: $black;
    font-family: Montserrat;
    font-weight: 500;
  }

  .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    width: 100%;
    display: inline-block;
    margin: 0 auto;

    li {
      list-style: initial !important;
    }

  }

  @media (max-width: 767px) {
    .markdown-body {
      padding: 15px;
    }
  }

  .upload {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    padding: 14px;
    color: $black;
    font-size: 15px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 12px;
    cursor: pointer;

    i {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
    }

    input {
      position: absolute;
      left: 0;
      cursor: pointer;
      height: 100%;
      margin: 0;
      top: 0;
      opacity: 0;
    }
  }

  .cover {
    position: relative;
    margin-bottom: 12px;
    display: none;

    i {
      position: absolute;
      right: 24px;
      top: 24px;
      background-color: #fff;
      color: $grey;
      padding: 8px;
      cursor: pointer;
      border-radius: 50px;

      &:hover {
        color: $black;
      }
    }
  }

  .btns {
    text-align: right;
    width: 100%;
    padding-top: 16px;

    button {
      display: inline-block;
      background-color: $blue;
      padding: 12px 14px;
      border-radius: 4px;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      outline: none;
      border: none;
      cursor: pointer;
      @include transition(.22s);

      i {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        position: relative;
        top: -1px;
        font-size: 30px;
      }

      &:hover {
        background-color: $light-blue;
      }

      &.success {
        background-color: $success;
        pointer-events: none;
      }
    }
  }

}
