$light-blue: #00b4ff;
$blue: #0072ff;
$red: #fd517a;
$black: #3d3d3d;
$grey-bg: #f8f9fa;
$success: #43c36b;
$grey: #b1b1b1;

@mixin transform($value...) {
          transform: $value;
     -moz-transform: $value;
       -o-transform: $value;
      -ms-transform: $value;
  -webkit-transform: $value;
}

@mixin transition($value...) {
          transition: $value;
     -moz-transition: $value;
       -o-transition: $value;
      -ms-transition: $value;
  -webkit-transition: $value;
}

@mixin shadow($value...) {
          box-shadow: $value;
     -moz-box-shadow: $value;
       -o-box-shadow: $value;
      -ms-box-shadow: $value;
  -webkit-box-shadow: $value;
}

* { margin: 0; padding: 0; list-style:  none; box-sizing: border-box;}

/* Float stuff */
.left { float: left; }
.right { float: right; }
.cleared:after { content: ""; clear: both; display: block; }
.row { width: 90%; margin: 0 auto; margin-bottom: 32px; position: relative;}
.row:after { display: block; content: ""; clear: both;}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $grey-bg;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

content {
  position: absolute;
  left: 240px;
  top: 0;
  right: 0;
  overflow: auto;
  height: 100vh;
  padding-top: 3vw;
}

.row > h1 {
  font-weight: 300;
  font-size: 28px;
  color: $grey;
  display: inline-block;
}

a.new {
  float: right;
  background-color: $blue;
  padding: 12px 14px;
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  @include transition(.22s);

  i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -1px;
  }

  &:hover {
    background-color: $light-blue;
  }
}

.open-dropdown {
  position: relative;

  .dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 6px;
    border-radius: 8px;
    background-color: #fff;
    padding: 8px;
    width: 160px;
    display: none;
    font-family: montserrat;
    z-index: 999;
    @include shadow(0 10px 40px 0 transparentize($grey, .6))

    a {
      color: $grey;
      font-size: 13px;
      display: block;
      border-radius: 8px;
      padding: 6px;
      text-decoration: none;

      &:hover {
        color: $black;
        background-color: transparentize($grey, .9)
      }

      i {
        font-size: 22px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 7px;
        position: relative;
        top: -1px;
      }
    }
  }

  &.open .dropdown { display: block; }
}


@import 'menu', 'widget', 'table', 'blog', 'markdown', 'simpleMDE', 'message', 'login', 'signin';

