.row
  h1 Tableau de bord
.row
  a#families.widget.w4(href='handling/families', soft)
    i.material-icons people
    .count 0
    span Demandes de familles
  a#elderly.widget.w4(href='handling/elderlies', soft)
    i.material-icons person
    .count 0
    span Demandes d'accueil
  a#messages.widget.w4(href='handling/messages', soft)
    i.material-icons email
    .count 0
    span Nouveaux messages
