.col
  h5 Un travail depuis chez soi, plein de sens
  p Devenir famille d’accueil est une opportunité magnifique pour de nombreux foyers. C’est la solution idéale pour avoir un travail chez soi, aux horaires flexibles, sans les déplacements et la pression habituelle.
  p C’est l’opportunité d’avoir un travail stable et rémunéré de façon décente, ce qui est d’autant plus intéressant dans les zones où le bassin d’emploi n’est pas dynamique. Le tout, en redonnant du sens au travail que l’on fait.
  p Grâce à CetteFamille, vous n’avez en plus à vous soucier de rien. Nous nous occupons de toute la partie administrative et financière afin que vous puissiez vous concentrer sur l’essentiel.
  .video
    iframe(src="https://www.youtube.com/embed/azBUu4fNgdY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen)
.col
  form
    .split#name
      input(type='text', placeholder='Nom et prénom', spellcheck='false')
      i.fa.fa-exclamation-circle
    .split#code
      input(type='text', placeholder='Code postal', spellcheck='false')
      i.fa.fa-exclamation-circle
    .split#phone
      input(type='text', placeholder='Numéro de téléphone', spellcheck='false')
      i.fa.fa-exclamation-circle
    .split#mail
      input(type='text', placeholder='Mail', spellcheck='false')
      i.fa.fa-exclamation-circle
    button.has-droplet
      span Valider
      .droplet
