
header {
  padding-top: 50px;

  img { width: 100px; }

  ul {
    text-align: right;
    margin-top: 12px;

    li {
      display: inline-block;
      vertical-align: middle;
      margin-left: 30px;

      a {
        font-size: 16px;
        text-decoration: none;
        color: $black;
        padding-bottom: 4px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        @include transition(.2s);

        &:hover {
          border-bottom: 2px solid $blue;
        }
      }
    }

  }

  @media only screen and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 1.5) {

    display: none;
  }
}

body.blue header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  a {
    color: #fff;
  }
}
