
header {
  padding-top: 50px;

  img { width: 100px; }

  ul {
    text-align: right;
    margin-top: 12px;

    li {
      display: inline-block;
      vertical-align: middle;
      margin-left: 30px;

      a {
        font-size: 16px;
        text-decoration: none;
        color: $black;
      }
    }

  }
}
