
header {
  padding-top: 50px;

  img { width: 100px; }

  ul {
    text-align: right;
    margin-top: 12px;

    li {
      display: inline-block;
      vertical-align: middle;
      margin-left: 30px;

      a {
        font-size: 16px;
        text-decoration: none;
        color: $black;
      }
    }

  }
}

body.blue header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  a {
    color: #fff;
  }
}
