.row
  h1 Témoignages
  a.new(href='handling/testimony/new', soft)
    i.material-icons add_circle_outline
    | Nouveau témoignage

#list.row
  .legend
    .type Nom
    .type Témoignage
    .type Date
  ul

