section.main
  .centered
    h1 Cette Famille
    p
      | Propose une alternative aux maisons de retraite : un service qui place les personnes âgées dans des familles. Plus économique, plus humain et plus épanouissant !
  .btns
    a.has-droplet(href='/chercher', soft)
      span Chercher une famille
      .droplet
    a.has-droplet(href='/devenir', soft)
      span Devenir famille d'accueil
      .droplet
  .footer
    .row
      a(href='')
        img(src='/img/sponsors/europe1.png')
      a(href='')
        img(src='/img/sponsors/tf1.png')
      a(href='')
        img(src='/img/sponsors/radio.png')
      a(href='')
        img(src='/img/sponsors/ouest.png')
      a(href='')
        img(src='/img/sponsors/fr2.png')
      a(href='')
        img(src='/img/sponsors/fr3.png')
      a(href='')
        img(src='/img/sponsors/lacroix.png')
      a(href='')
        img(src='/img/sponsors/figaro.png')

section#a-concept.intro(data-appear-top-offset="-200")
  .row
    .col
      .block
        h5 Les maisons de retraite ne sont pas adaptés
        p Comme l’atteste le chiffre ci-contre, tout le monde sait que ce que signifie le placement de ses parents en maison de retraite. Peu de personnels, d’attention et de relation sociale, un sentiment d’inutilité, un contact permanant avec la maladie et une solution onéreuse, souvent compliqué à assumer. C’est ce constant qui a amené la création de Cette Famille, pour faciliter et développer l’accueil familial et ériger cette solution en véritable alternative aux maisons de retraite.

      .block
        h5 Une solution humaine et pleine de sens
        p Avec l’accueil familial, les personnes âgées bénéficient d’un environnement de qualité et adapté à leur besoin, que ce soit d’un point de vue de la localisation du lieu de vie, des préfenreces de caractère et de leur état de dépendance. C’est également un environnement dynamique au sain d’une famille, dans lequel ils (re)trouvent une vraie place et utilité.

      .block
        h5 Main dans la main avec les départements
        p Parce que la solution d’accueil familial permet la création d’emplois local, parce qu’elle est une solution d’hébergement alternative aux maisons de retraite souvent pleines ou trop onéreuses et parce que l’accueil familial est adapté à des projets de vie d’une grande partie de séniors auxquels les établissements standards ne répondent pas, l’accueil familial devient un enjeu important pour les départements. Ils occupent ainsi un rôle majeur dans cette solution. Ils prodiguent en effet la formation et l’agrément aux familles d’accueil, et réalisent également le suivi social et médico social des accueillis.
    .col
      .stat
        img.pattern(src='/img/pattern.png')
        figure
          img(src='/img/stat.svg')
          .percent
            img(src='/img/percent.svg')
      blockquote Des familles qui placent leurs parents en maison de retraite ressentent un sentiment de culpabilité.

section#a-steps.steps(data-appear-top-offset="-200")
  .row
    h4.title Quelques étapes très simples
    ul.regular
      li
        img(src='/img/steps/1.png')
        h5 Description du besoin
        p
          | Nous établissons ensemble un
          br
          | diagnostic précis de l’ensemble de vos
          br
          | besoins et attentes.
      li
        img(src='/img/steps/2.png')
        h5 Sélection de la famille
        p
          | En fonction de tous les critères que
          br
          | nous avons établi, nous sélectionnons
          br
          | la famille qui vous correspond le plus.
      li
        img(src='/img/steps/3.png')
        h5 Placement dans la famille
        p
          | Nous faisons la mise en relation avec la
          br
          | famille et nous ccupons du bien-être
          br
          | de tous, au jour le jour.

section#testimonies.testimony(data-appear-top-offset="-200")
  .row
    .slider
      i.fa.fa-arrow-left.arrow
      .wrap
      .dots
      i.fa.fa-arrow-right.arrow

section#a-services.work(data-appear-top-offset="-200")
  .row
    h4.title Nous nous occupons de tout
    ul.regular
      li
        img(src='/img/work/1.png')
        h5 Profils qualifiés et vérifiés
        p
          | Nous établissons ensemble un
          br
          | diagnostic précis de l’ensemble de vos
          br
          | besoins et attentes.
      li
        img(src='/img/work/2.png')
        h5 Formation des accueillants
        p
          | En fonction de tous les critères que
          br
          | nous avons établi, nous sélectionnons
          br
          | la famille qui vous correspond le plus.
      li
        img(src='/img/work/3.png')
        h5 Visite à domicile de courtoisie
        p
          | Nous faisons la mise en relation avec la
          br
          | famille et nous ccupons du bien-être
          br
          | de tous, au jour le jour.
      li
        img(src='/img/work/4.png')
        h5 Assistance téléphonique
        p
          | Nous établissons ensemble un
          br
          | diagnostic précis de l’ensemble de vos
          br
          | besoins et attentes.
      li
        img(src='/img/work/5.png')
        h5 Déclaratifs financier/administratif
        p
          | En fonction de tous les critères que
          br
          | nous avons établi, nous sélectionnons
          br
          | la famille qui vous correspond le plus.
      li
        img(src='/img/work/6.png')
        h5 Amélioration continue du service
        p
          | Nous faisons la mise en relation avec la
          br
          | famille et nous ccupons du bien-être
          br
          | de tous, au jour le jour.

section#a-partners.partners(data-appear-top-offset="-200")
  .row
    h4.title Des partenaires de taille
    ul
      li
        img(src='/img/sponsors/maif.png')
      li
        img(src='/img/sponsors/monalisa.png')
      li
        img(src='/img/sponsors/cnav.png')
      li
        img(src='/img/sponsors/silvervalley.png')
      li
        img(src='/img/sponsors/hs2.png')
      li
        img(src='/img/sponsors/normandie.png')
      li
        img(src='/img/sponsors/msa.png')
      li
        img(src='/img/sponsors/chu.png')

section#a-contact.contact(data-appear-top-offset="-200")
  .row
    h4.title Discutons ensemble
    .btns
      p Vous souhaitez chercher une famille d’accueil ? Vous êtes une famille et réfléchissez à l’idée d’accueillir des personnes âgées chez vous ? C’est par ici !
      a.has-droplet(href='/chercher', soft)
        span Chercher une famille
        .droplet
      a.has-droplet(href='/devenir', soft)
        span Devenir famille d'accueil
        .droplet

    .datas
      p Si vous voulez simplement nous contacter, vous pouvez soit nous joindre par téléphone ou par mail, soit nous laisser directement un message.

      .col
        h5 01 42 53 40 37
        span lundi - vendredi : 9h à 17h
        h5 contact@cettefamille.com
        span Par mail
      .col
        form
          input#name(type='text', placeholder='Nom et Prénom')
          input#phone(type='text', placeholder='Numéro de téléphone')
          textarea#message(placeholder='Message', row='1')
          button#send.has-droplet
            i.fa.fa-paper-plane
            span Envoyer
            .droplet
