section.main
  .centered
    h1 CetteFamille
    p
      | CetteFamille est un service qui propose des familles d’accueil pour les personnes âgées ou en situation de handicap : une solution chaleureuse, personnalisée et professionnelle !
  .btns
    a.has-droplet(href='/chercher', soft)
      span Chercher une famille
      .droplet
    a.has-droplet(href='/devenir', soft)
      span Être accueillant familial
      .droplet
  .footer
    .row
      a(href='http://www.europe1.fr/emissions/made-in-france/des-familles-daccueil-pour-seniors-2880584', target='_blank')
        img(src='/img/sponsors/europe1.png')
      a(href='https://www.lci.fr/societe/les-seniors-en-maison-d-accueil-plutot-qu-en-maison-de-retraite-2053232.html', target='_blank')
        img(src='/img/sponsors/tf1.png')
      a(href='https://www.radioclassique.fr/magazine/articles/famille-daccueil-personnes-agees-dispositif-connu-france/', target='_blank')
        img(src='/img/sponsors/radio.png')
      a(href='https://www.ouest-france.fr/leditiondusoir/data/857/reader/reader.html#!preferred/1/package/857/pub/858/page/12', target='_blank')
        img(src='/img/sponsors/ouest.png')
      a(href='https://www.youtube.com/watch?v=mWBrbXpl_8A', target='_blank')
        img(src='/img/sponsors/fr2.png')
      a(href='https://www.youtube.com/watch?v=swhonFyYVMk', target='_blank')
        img(src='/img/sponsors/fr3.png')
      a(href='https://www.la-croix.com/Economie/Economie-solidaire/CetteFamille-recree-cocon-familial-pour-personnes-agees-2017-01-31-1200821453', target='_blank')
        img(src='/img/sponsors/lacroix.png')
      a(href='http://www.lefigaro.fr/actualite-france/2017/02/26/01016-20170226ARTFIG00121-des-familles-d-accueil-pour-les-personnes-agees.php', target='_blank')
        img(src='/img/sponsors/figaro.png')

section#a-concept.intro(data-appear-top-offset="-200")
  .row
    .col
      .block
        h5 Vous avez du mal à trouver une solution qui vous convienne ?
          br
          | Vous envisagez la maison de retraite mais préféreriez avoir d’autres choix ?

        p Nous aussi ! C'est pour cela que nous avons créé CetteFamille, un service de mise en relation entre personnes âgées et professionnels de l'accueil. Plutôt que de faire face à un roulement du personnel dans de grandes structures, vous pouvez faire le choix de vivre sous le toit d'une famille qui vous accueillera comme l'un des siens et avec qui vous pourrez partager des moments authentiques.

      .block
        h5 Une solution adaptée à tous vos besoins
        p En fonction de votre lieu de vie, CetteFamille vous propose une famille dans le département de votre choix pour que vos proches puissent venir vous rendre visite.
          br
          br
          | L'accueil familial s’adapte aussi à vos moyens financiers : avec un tarif journalier moyen de 45€, l’accueil familial peut-être jusqu’à trois moins cher qu’en maison de retraite. De quoi choisir votre nouvelle maison avec sérénité !

      .block
        h5 Une prise en charge sûre et encadrée
        p Les personnes qui décident de devenir accueillants sont souvent issues de métiers d’aide à la personne et en ont fait une véritable vocation. Elles ont suivi une formation encadrée par les départements, ce qui en fait des personnes sûres et aptes à accueillir des personnes âgées ou en situation de handicap chez elle. Le département leur délivre un agrément pour 5 ans et assure un suivi plusieurs fois par an à leur domicile.
          br
          | Pour couronner le tout, CetteFamille propose un accompagnement supplémentaire. Nos équipes rendent aussi des visites de courtoisie régulières auprès des familles d’accueil, leur apportent conseils et soutien afin de s’assurer qu’elles vous proposent le meilleur accueil possible.


    .col
      .stat
        img.pattern(src='/img/pattern.png')
        figure
          img(src='/img/stat.svg')
          .percent
            img(src='/img/percent.svg')
      blockquote Des utilisateurs de CetteFamille sont satisfaits du service.

section#a-steps.steps(data-appear-top-offset="-200")
  .row
    h4.title Comment cela fonctionne ?
    ul.regular
      li
        img(src='/img/steps/1.png')
        h5 Appel pour comprendre vos besoins
        p
          | Grâce à un échange de 15 min avec notre équipe, nous établissons ensemble un diagnostic de tous vos besoins et de vos attentes pour vous ou votre proche.
        i.fa.fa-long-arrow-right
      li
        img(src='/img/steps/2.png')
        h5 Sélection des meilleures familles
        p
          | Nous sélectionnons les familles qui correspondent le mieux à vos besoins et attentes, près de chez vous.
        i.fa.fa-long-arrow-right
      li
        img(src='/img/steps/3.png')
        h5 Arrivée dans la famille
        p
          | Nous vous mettons en relation avec la famille accueillante que vous avez sélectionnée et nous occupons du bien-être de tous, au jour le jour.

section#testimonies.testimony(data-appear-top-offset="-200")
  .row
    .slider
      i.fa.fa-arrow-left.arrow
      .wrap
      .dots
      i.fa.fa-arrow-right.arrow

section#a-services.work(data-appear-top-offset="-200")
  .row
    h4.title Nous nous occupons de tout
    ul.regular
      li
        img(src='/img/work/1.png')
        h5 Des accueillants qualifiés
        p
          | Les familles d’accueil sont agréées par le conseil départemental et grâce à des échanges réguliers, nous nous efforçons d’assurer la qualité de leur accueil.
      li
        img(src='/img/work/2.png')
        h5 Formation des accueillants
        p
          | En plus de la formation effectuée par le conseil départemental, CetteFamille propose des outils et un accompagnement des familles pour les aider à vous accueillir de la meilleure manière possible.
      li
        img(src='/img/work/3.png')
        h5 Visite de courtoisie à domicile
        p
          | Les équipes de CetteFamille effectuent régulièrement des visites dans les familles d’accueil pour être à votre écoute et s’assurer que vous ne manquez de rien.
    ul.regular
      li
        img(src='/img/work/4.png')
        h5 Assistance téléphonique
        p
          | Nous sommes disponibles au téléphone toute la semaine pour vous renseigner et vous aider dans vos démarches.
      li
        img(src='/img/work/5.png')
        h5 Gestion des papiers administratifs
        p
          | Dites adieu à la paperasse ! Nous nous en occupons volontiers pour vous.
      li
        img(src='/img/work/6.png')
        h5 Amélioration continue du service
        p
          | Nous cherchons sans cesse à améliorer notre service et votre bien-être. Nous sommes à l’écoute de vos remarques et suggestions !

section#a-partners.partners(data-appear-top-offset="-200")
  .row
    h4.title Nous travaillons main dans
      br
      | la main avec des partenaires de taille
    ul
      li
        img(src='/img/sponsors/maif.png')
      li
        img(src='/img/sponsors/monalisa.png')
      li
        img(src='/img/sponsors/cnav.png')
      li
        img(src='/img/sponsors/silvervalley.png')
      li
        img(src='/img/sponsors/hs2.png')
      li
        img(src='/img/sponsors/normandie.png')
      li
        img(src='/img/sponsors/msa.png')
      li
        img(src='/img/sponsors/chu.png')

section#a-contact.contact(data-appear-top-offset="-200")
  .row
    h4.title Discutons ensemble
    .btns
      p Vous souhaitez chercher une famille d’accueil ? Vous êtes une famille et réfléchissez à l’idée d’accueillir des personnes âgées chez vous ? C’est par ici !
      a.has-droplet(href='/chercher', soft)
        span Chercher une famille
        .droplet
      a.has-droplet(href='/devenir', soft)
        span Devenir famille d'accueil
        .droplet

    .datas
      p Si vous voulez simplement nous contacter, vous pouvez soit nous joindre par téléphone ou par mail, soit nous laisser directement un message.

      .col
        h5 01 76 44 04 37
        span lundi - vendredi : 9h à 19h
        h5 contact@cettefamille.com
        span Par mail
      .col
        form
          input#name(type='text', placeholder='Nom et Prénom')
          input#phone(type='text', placeholder='Numéro de téléphone')
          textarea#message(placeholder='Message', row='1')
          button#send.has-droplet
            i.fa.fa-paper-plane
            span Envoyer
            .droplet
