doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Basic Login
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(href="/css/handler.css", rel="stylesheet", type="text/css")
  body#login
    //- form(action='/auth/signin', method='post')
    //-   input.form-control(type='text', placeholder='Username', name='username')
    //-   input.form-control(type='email', placeholder='Email', name='mail')
    //-   input.form-control(type='password', placeholder='Password' name="password")
    //-   button.btn.btn-primary.btn-block.btn-flat(type='submit') Sign In

    .wrap
      form(action='/reset/define?uid='+uid+'&rid='+rid, method='post')
        .wrapper
          input.form-control(type='password', placeholder='Mot de passe' name="password", required)
          input.form-control(type='password', placeholder='Confirmer le mot de passe' name="password-confirm", required)
        button.btn.btn-primary.btn-block.btn-flat(type='submit') Modifier
