doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='icon', href='/img/favicon.png')
    meta(name='description', content="CetteFamille, spécialiste de l'accueil familial, vous accompagne afin de trouver une solution chaleureuse pour vos parents âgés en perte d'autonomie.")
    meta(name='keywords', content='accueil familial, senior, dépendance, autonomie, personnes agees, alternative maison retraite, famille, convivial, chaleureux')
    title Cette Famille - Administration
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(href="/css/handler.css", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href="https://cdn.quilljs.com/1.0.0/quill.snow.css", rel="stylesheet")
    base(href='/')
    //-link(rel='stylesheet', href='/css/app.css')
  body
    aside.menu
      img.logo(src='/img/logo.png')

      ul
        li(tab='home')
          a(href='handling', soft)
            i.material-icons dashboard
            span Tableau de bord
        li(tab='families')
          a(href='handling/families', soft)
            i.material-icons people
            span Familles
        li(tab='elderlies')
          a(href='handling/elderlies', soft)
            i.material-icons person
            span Personnes agées
        li(tab='messages')
          a(href='handling/messages', soft)
            i.material-icons mail
            span Messages
        li(tab='blog')
          a(href='handling/blog', soft)
            i.material-icons book
            span Actualités
        li(tab='testimony')
          a(href='handling/testimony', soft)
            i.material-icons assignment_ind
            span Témoignages
        li(tab='admins')
          a(href='handling/admins', soft)
            i.material-icons settings
            span Administrateurs

      a.dc(href='auth/logout')
        i.fa.fa-sign-out
        span Se déconnecter

    content

  .templates
    include handler-templates


  script(src='./vendor.bundle.js')
  script(src='./handler.bundle.js')
