doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Cette Famille : Le réseau des familles qualifiées pour accueillir les seniors.
    meta(name='description', content="CetteFamille, spécialiste de l'accueil familial, vous accompagne afin de trouver une solution chaleureuse pour vos parents âgés en perte d'autonomie.")
    meta(name='keywords', content='accueil familial, senior, dépendance, autonomie, personnes agees, alternative maison retraite, famille, convivial, chaleureux')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(rel='icon', href='/img/favicon.png')
    link(href="/css/normalize.css", rel="stylesheet", type="text/css")
    link(href="/css/app.css", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(href="https://cdn.quilljs.com/1.0.0/quill.snow.css", rel="stylesheet")
    base(href='/')
    //-link(rel='stylesheet', href='/css/app.css')
  body
    header
    #subheader
    main
    footer

  .templates
    include site-templates

  script(src='./vendor.bundle.js')
  script(src='./app.bundle.js')
