doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='icon', href='/img/favicon.png')
    title Cette Famille - Réinitialisation du mot de passe
    meta(name='description', content="CetteFamille, spécialiste de l'accueil familial, vous accompagne afin de trouver une solution chaleureuse pour vos parents âgés en perte d'autonomie.")
    meta(name='keywords', content='accueil familial, senior, dépendance, autonomie, personnes agees, alternative maison retraite, famille, convivial, chaleureux')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(href="/css/handler.css", rel="stylesheet", type="text/css")
  body#login
    .wrap
      span Un mail vous permettant de réinitialiser votre mot de passe pour sera envoyer à l'adresse renseignée
      form(action='/reset', method='post')
        .wrapper
          input.form-control(type='email', placeholder='Email', name='mail', value='zoul.gaelcoat@gmail.com', required)
        button.btn.btn-primary.btn-block.btn-flat(type='submit') Réinitialiser
