.row
  h1 Demandes d'accueil
  ul.sorting
    li.sort.activ(sorting='idling') Non traitées
    li.sort(sorting='done') Traitées
    li.sort(sorting='all') Toutes
#list.row
  .legend
    .type Nom
    .type Numéro de téléphone
    .type Code postal
    .type Date
    .type Etat
  ul

