.col
  h5 Le bonheur n’est plus très loin...
  p Le responsable CetteFamille de votre région va vous appeler très prochainement. Il répondra à l’ensemble de vos questions et dressera avec vous un diagnostic précis de l’ensemble de vos besoins et attentes.
  .video
    iframe(src="https://www.youtube.com/embed/azBUu4fNgdY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen)
.col
  form
    .split#name
      input(type='text', placeholder='Nom et prénom', spellcheck='false')
      i.fa.fa-exclamation-circle
    .split#code
      input(type='text', placeholder='Code postal', spellcheck='false')
      i.fa.fa-exclamation-circle
    .split#phone
      input(type='text', placeholder='Numéro de téléphone', spellcheck='false')
      i.fa.fa-exclamation-circle
    button.has-droplet
      span Valider
      .droplet
