.col
  h5 Le bonheur n’est plus très loin...
  p Le responsable Cette Famille de votre région va vous appeler très prochainement. Il répondra à l’ensemble de vos questions et dressera avec vous un diagnostic précis de l’ensemble de vos besoins et attentes.

.col
  form
    .split#name
      input(type='text', placeholder='Nom et prénom', spellcheck='false')
      i.fa.fa-exclamation-circle
    .split#code
      input(type='text', placeholder='Code postal', spellcheck='false')
      i.fa.fa-exclamation-circle
    .split#phone
      input(type='text', placeholder='Numéro de téléphone', spellcheck='false')
      i.fa.fa-exclamation-circle
    button.has-droplet
      span Valider
      .droplet
