h1 Foires aux questions sur l'acceuil familial
.separator
p.intro La perte d’autonomie d’une personne âgée proche est toujours un moment délicat au sein d’une famille. Il n’est pas toujours évident de s’y retrouver parmi les solutions proposées : concilier proximité géographique, coût avantageux et qualité de vie pour le senior peut sembler compliqué.

h2 Vos questions :
.separator
a(href='faq#origine') D'où vient CetteFamille ?
a(href='faq#entreprise') Pourquoi avoir fait le choix d'une entreprise sociale et solidaire plutôt que d'une association ?
a(href='faq#confiance') Comment être sûr que la personne âgée se plait dans sa famille d'accueil ?
a(href='faq#visite') Puis-je visiter les maisons des familles d'accueil inscrites ?
a(href='faq#changer') Je souhaite changer de famille d'accueil, est-ce possible ?
a(href='faq#confidentialite') Je suis accueillant(e) familial et je souhaite m'inscrire, est ce que des informations sur ma famille vont être divulguées ?

h2 A propos de CetteFamille
.separator

h3#origine D'où vient CetteFamille ?
p L'idée est née à Argentan en Normandie. Jean-Paul n'était plus capable de vivre seul chez lui. Son fils voulait donc le placer en maison de retraite mais Jean-Paul s’y oppose catégoriquement : selon lui, des établissements impersonnels et trop chers ! Après une rencontre avec le médecin de famille, on en vient à évoquer l’accueil familial, un accueil pour personne âgée dans une famille sélectionnée par le département. Ne trouvant pas de renseignements sur l’accueil familial ni de famille accueillante sur Internet, le fils cherche finalement sur un site de petites annonces. Il trouve une place dans une famille avec deux jeunes enfants, dans une grande maison, proche de chez lui. Jean-Paul restera finalement deux belles années dans cette famille. C’est cette histoire normande et le bonheur communicatif qu'a vécu Jean-Paul pendant ces deux années qui a donné à Paul-Alexis Racine Jourdren, jeune éconsiste, l’idée de la création de CetteFamille, une société qu’il fonde avec Agathe Pommery, une amie confrontée elle aussi personnellement par le choix des grands-parents au moment de la perte d'autonomie. En effet, ils ont tous les deux vus au moins une personne de leur entourage entrer en maison de retraite, et se sont rendus compte que l'accueil familial était une alternative de qualité : le projet CetteFamille était né.

h3#entreprise Pourquoi avoir fait le choix d'une entreprise sociale et solidaire plutôt que d'une association ?
p
  | Ce statut apporte certains avantages : la création d'une association a été envisagée, mais le projet de CetteFamille est de renforcer l'aspect professionnel de l'accueil familial, d'acquérir une pérennité financière et une indépendance des revenus qui sont mieux garantis avec un statut d'entreprise solidaire et sociale.
  br
  br
  | CetteFamille a obtenu le
  a(href='http://www.avise.org/decouvrir/economie-sociale-et-solidaire/ess-de-quoi-parle-t-on', target='_blank') statut "ESS (Entreprise Sociale et Solidaire)”
  |  et
  a(href='http://www.cncres.org/accueil_cncres/actualites_/813_521/tout_savoir_sur_lagrement_esus', target='_blank') l’agrément ESUS (Entreprise Solidaire d’Utilité Sociale)
  | . Cela implique une gouvernance sociale puisque la moitié des bénéfices de CetteFamille sont réinjectés directement dans l’entreprise, 20% des bénéfices servent à développer de nouveaux outils pour servir l’objectif social de l’entreprise, et enfin toutes les parties prenantes de CetteFamille sont tenus au courant des nouvelles orientations et sont actifs dans cette prise de décision.

h2 Je recherche une famille d'accueil
.separator

h3#confiance Comment être sûr que la personne âgée se plait dans sa famille d'accueil ?
p Il existe un suivi mis en place par le Conseil Départemental des départements ; une personne âgée en famille d’accueil est ainsi vue 3 fois par an par un assistant social.

h3#visite Puis-je visiter les maisons des familles d'accueil inscrites ?
p Pour des raisons de confidentialité et par souci d’adéquation entre les projets de vie des accueuillants et accueillis, CetteFamille ne procède pas à la mise en relation en fonction des maisons mais des personnalités. Après votre inscription et la validation de vos souhaits, CetteFamille sélectionne des familles d'accueil correspondant à vos préférences et vous fait une première proposition.

h3#changer Je souhaite changer de famille d'accueil, est-ce possible ?
p
  | C'est tout à fait possible. Le contrat en vigueurest un
  a(href='https://www.service-public.fr/particuliers/vosdroits/F15240', target='_blank') contrat de gré-à-gré
  |  qui se rompt facilement avec l'accord des deux familles. Le cas échéant, CetteFamille est en charge de trouver une nouvelle famille d'accueil pour le senior.
  br
  br
  | Nous essayons cependant d'éviter cette situation en offrant le meilleur choix possible et nous vous conseillons de prendre le temps de réfléchir et de passer du temps avec la famille d'accueil avant tout engagement.

h2 Je suis accueillant(e) familial
.separator

h3#confidentialite Je suis accueillant(e) familial et je souhaite m'inscrire, est ce que des informations sur ma famille vont être divulguées ?
p CetteFamille s'engage à transmettre vos coordonnées uniquement aux familles inscrites, validées et ayant un projet de vie similaire au vôtre.
